@import url(http://fonts.googleapis.com/css?family=Lato:300);


/* General Styles */
html {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html, body {
  font-family: 'Lato', sans-serif;
  background-color: #14246E;
  color: white;
}

h1, h2, h3, h4, h5 {
  font-weight: lighter;
  font-variant: small-caps;
  margin: 0;
  text-align: center;
}
h1 { font-size: 3em; }
h2 { font-size: 2.5em; }
h3 { font-size: 2em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1em; }


/* Tooltip Styles */
#tooltip {
  position: fixed;
  bottom: 2vw;
  right: 2vw;
  background-color: white;
  color: black;
  padding: .2em;
  border: 2px solid #10BDD4;
  border-radius: 2px;
  box-shadow: 0 0 20px 0 #10BDD4;
  -webkit-transition: .2s opacity ease;
  transition: .2s opacity ease;
  opacity: 0;
}
#tooltip.show {
  opacity: .8;
}
#tooltip.show:hover {
  opacity: 1;
}


/* Modal Default Styles */
.model {
  color: #0c90a1;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 70%;
  border: 6px solid #10BDD4;
  background-color: white;
}
.model.off {
  display: none;
}


/* Controls Default Styles */
.controls {
  text-align: center;
}
.controls .cont {
  display: inline-block;
  margin: 6px;
  background-color: white;
  border: 6px solid #10BDD4;
}
.controls label {
  padding: 0 1em;
}
.controls label,
.controls button,
.controls input,
.controls select {
  height: 3em;
}
.controls button {
  border: 0;
  margin: 0;
  padding: 0 1em;
  background-color: transparent;
  -webkit-transition: .2s background-color ease;
  transition: .2s background-color ease;
}
body:not(.lock) .controls button:hover,
.current .controls button:hover {
  cursor: pointer;
  background-color: #9ccdd4;
}


/* Canvas Area Styles */
#edit {
  min-width: 60%;
  max-width: 90%;
  margin: 20px auto;
  text-align: center;
}
#img {
  border: 6px solid #10BDD4;
  background-color: white;
  max-width: 100%;
}
#img.crosshairs {
  cursor: crosshair;
}


/* Image Load Modal */
#load .samples {
  margin: 20px;
}
#load .samples:after {
  content: '';
  display: block;
  clear: both;
}
#load .samples img {
  position: relative;
  width: 23%;
  margin: 0 1%;
  border: 6px solid #10BDD4;
  display: block;
  float: left;
}
#load .samples img:hover {
  border: 6px solid #0c90a1;
  cursor: pointer;
}
